@import "https://unpkg.com/open-props";

.dialog::backdrop {
  
  backdrop-filter: blur(0.25rem);
}

.dialog {
  width: 680px;
  max-width: 80vw;
  padding: 2rem;
  margin: auto;
  border: 0;
  border-radius: 0.5rem;
  box-shadow: hsl(0 0% 0% / 10%) 0 0 0.5rem 0.25rem;
}

.dialog-close-btn {
  font-size: 0.75em;
  position: absolute;
  top: 0.25em;
  right: 0.25em;
  width: 40px;
  aspect-ratio: 1;
  .icon {
    width: 24px;
    height: 24px;
  }
  > span {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
  }
}
dialog[open] {
    animation: var(--animation-slide-in-up) forwards;
}